.bootstrap-datetimepicker-widget table td .btn.btn-primary{
    background: transparent!important;
}

.bootstrap-datetimepicker-widget table td .btn.btn-primary:hover{
    background: linear-gradient(90deg, #7c32ff 0%, #c738d8 51%, #7c32ff 100%)!important;
    color: #fff!important;
    transition: all 0.4s ease 0s;
    background-size: 200% auto;
}
